<!-- <h1>hello world</h1> -->
<!-- <div>
  <button routerLink="">Payment</button>
</div>
<div>
  <button routerLink="review">review</button>
</div>
<div>
  <button routerLink="review-list">review-list</button>
</div>
<div>
  <button routerLink="accessories">accessories</button>
</div>
<div>
  <button routerLink="admin-data">admin-data</button>
</div>
<div>
  <button routerLink="admin-products">admin-products</button>
</div>
<div>
  <button routerLink="card">card</button>
</div>
<div>
  <button routerLink="adminPart">adminPart</button>
</div>
<div>
  <button routerLink="signin">signin</button>
</div>
<div>
  <button routerLink="signup">signup</button>
</div>
<div>
  <button routerLink="underNavComponent">underNavComponent</button>
</div> -->
<router-outlet></router-outlet>
