.conti {
    width: 900px;
    height: 700px;
    margin: 93px auto;
    box-sizing:border-box;
    background-color: #181925;
    padding: 25px 100px;
    box-shadow: 0px 8px 16px gray;
  }
  .left {
    width: 50%;
    height: 650px;
    float: left;
    background: url("https://www.forbes.com/advisor/wp-content/uploads/2021/04/featured-image-pack-clothes.jpeg.jpg");
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
  }
  .image{
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  .right {
    width: 50%;
    height: 650px;
    float: left;
    background: #f7f7f7;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    padding:-1 30px;
    text-align: center;
    
    
  }
  .nwme {
      width: 82%;
      height: 53px;
      border: 1px solid #ccc;
      border-radius: 11px;
      margin-bottom: 16px;
      padding-left: 18px;
  }
  .btna{
    width:130px;
    padding:7px;
    background-color:#b64b20;
    color:white;
    font-size:20px;
    border:none;
    border-radius:10px;
    margin-top:10px;
    cursor: pointer;
  }
  .btna:hover{
    background-color:#181925;
  }
  .textoo {
    text-align: center;
    color: #b64b20;
  } 
  .files{
    color:white
  }