
  <section class="product">
    <h2 class="product-category">Selling</h2>
    <div class="product-container">
     <div    class="product-card">
        <div class="product-image">
            <span class="discount-tag"  > 10% off</span>
            <img :src="post.image" class="product-thumb">
            <button class="card-btn"  >add to whislist</button><br/>
        </div>
        <div class="product-info">
            <h2  class="product-brand"> here title </h2>
            <p class="product-short-des"> here description </p>
            <span  class="price">$10 TND </span><span class="actual-price"   > 10 TND</span>
        </div> 
    </div>
</div>
