<div>
    <template>
  <div>
    <header>
      <a href="#" class="logo" ><i class="fas fa-utensils"></i>Star-buy</a>

      <div id="menu-bar" class="fas fa-bars"></div>

      <nav class="navbar">
        <!-- <router-link class="nav-link" to="/Home">Home</router-link>
        <router-link class="nav-link" to="/UnderNav">Products</router-link>
        <router-link class="nav-link" to="/Review">Review</router-link>
        <router-link href="#order" to="/Signin">Login</router-link>
        <router-link href="#order" to="/AdminPart">Admin</router-link> -->
      </nav>
    </header>
  </div>
</template>
</div>