<p>navbar works!</p>
<div>
    <header>
      <a href="#" class="logo" ><i class="fas fa-utensils"></i>Star-buy</a>

      <div id="menu-bar" class="fas fa-bars"></div>

      <nav class="navbar">
        <a class="nav-link" to="/Home">Home</a>
        <a class="nav-link" routerLink="/underNav">Products</a>
        <a class="nav-link" to="/Review">Review</a>
        <a href="#order" routerLink="/signup">Login</a>
        <a href="#order" to="/AdminPart">Admin</a>
      </nav>
    </header>
  </div>
  <router-outlet></router-outlet>