<h1>review-list component</h1>
<div>
  <div class="lll">
    <h1 style="color: #ff621e">
      You can check the Review by clicking in this button below
    </h1>
    <button class="buttom" style="vertical-align: middle">
      <span>See the reviews </span>
    </button>
  </div>
  <div class="reviews" >
    <div class="review" *ngFor="let item of reviewdata">
      <div class="head-review">
        <img
          src="https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_images/2017-09/shutterstock_243101992.jpg?itok=nKwkA392"
          width="250px"
          class="image-rev"
        />
      </div>
      <div class="body-review">
        <div class="name-review">{{item.name}}</div>
        <div class="place-review">{{item.location}}</div>
        <div class="desc-review">{{item.description}}</div>
      </div>
    </div>
  </div>
</div>
