<div>
    <div >
      <nav class="tapnavv">
        <div class="tapi">
          <img src="/images/sale.png" class="brandis" alt="" />
          <div class="nav-ii">
            <div class="sear">
              <input
                type="text"
                class="search-b"
                placeholder="search brand/Product"
              />
              <button class="search-bt">Search</button>
            </div>
            <a href="#"><img [src]=getuserimage()   /></a> 
            <br/>
            <p >   {{getusername()}}</p>
          </div>
        </div>
        <ul class="lin-container">
          <li class="li-item"><a class="li" href="#order"  routerLink="/male" >man</a></li>
          <li class="li-item"><a class="li" href="#order"  routerLink="/female" >woman</a></li>
          <li class="li-item"><a class="li" href="#order"  routerLink="/kids" >Kids</a></li>
          <li class="li-item"><a href="#" class="li">Accessories</a></li>
        </ul>
      </nav>
    </div>
  <app-card></app-card>
  <app-accessories></app-accessories>
    </div>
