<div>
    <!-- <div >
      </nav>
    </div> -->
    <!-- <div>
    <nav class="tapnavv">
      <div class="tapi">
        <img src="/images/sale.png" class="brandis" alt="" />
        <div class="nav-ii">
          <div class="sear">
            <input
              type="text"
              class="search-b"
              placeholder="search brand/Product"
            />
            <button class="search-bt">Search</button>
          </div>
          <a href="#"><img [src]=getuserimage()   /></a> 
          <br/>
          <h1 >   {{getusername()}}</h1>
        </div>
     <hr>
     <h1>wef</h1> -->
     <body>
      
       <div class="header">
       
         <form>
           <div class="form-box">
            <h1 class="h1">Welcome {{getusername()}}</h1>
             <input type="text" class="search" placeholder="search...">
             <button class="search-btn" type="button">Search</button>
             <a href="#"><img [src]=getuserimage()  class="imaget" /></a> 
           </div>
           <br>
           <ul class="lin-container">
            <li class="li-item"><a class="li" href="#order"  routerLink="/male" >man</a></li>
            <li class="li-item"><a class="li" href="#order"  routerLink="/female" >woman</a></li>
            <li class="li-item"><a class="li" href="#order"  routerLink="/kids" >Kids</a></li>
          </ul>
         </form>
       </div>
     </body>
  <app-card></app-card>
    </div>
