<div>
    <div >
      <nav class="tapnavv">
        <div class="tapi">
          <img src="/images/sale.png" class="brandis" alt="" />
          <div class="nav-ii">
            <div class="sear">
              <input
                type="text"
                class="search-b"
                placeholder="search brand/Product"
              />
              <button class="search-bt">Search</button>
            </div>
            <a href="#"><img src="/images/user.png" /></a>
            <a href="#"><img src="/images/cart.png" /></a>
          </div>
        </div>
        <ul class="lin-container">
          <li class="li-item"><a class="li" href="#order" to="/Male" >man</a></li>
          <li class="li-item"><a class="li" href="#order" to="/Female" >woman</a></li>
          <li class="li-item"><a class="li" href="#order" to="/Kids" >Kids</a></li>
          <li class="li-item"><a href="#" class="li">Accessories</a></li>
        </ul>
      </nav>
    </div>
  
    </div>
