<div>
  <body>
    <div class="banner">
      <div class="content">
        <h1>Everything You Need in Star-buy and More</h1>
        <p>
          Join our True customers and have a big discounts in Our products,<br />dwildjoiwdjlkm
        </p>
        <div>
          <button type="button"><span></span> MORE</button>
          <button type="button"><span></span>LOGIN</button>
        </div>
      </div>
    </div>
  </body>
  <app-caroussel [photos]="photos" [images]="images" ></app-caroussel>
</div>

<app-footer></app-footer>
