
.hero{
    width: 100%;
        margin-top: 94px;
    height: calc(100vh - 120px);
    background-image: url('/images/header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .logoo{
    height: 150px;
    display: block;
    margin: auto;
}
.hero .sub{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}