<h1>review component</h1>
<div>
    <div class="rev-section">
      <h2 class="rev-title" style="text-align: center">Our Custumers Love Us</h2>
      <p class="note">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laboriosam
        possimus perferendis non error neque.
      </p>
      <div class="con">
        <div class="brandi"></div>
        <div class="brandtitle">Give as a review</div>
        <form >
          <form class="inputsss" #reviewForm="ngForm" (ngSubmit)="onReviewPost(reviewForm.value)">
            <label class="pass" for="name">NAME</label>
            <input
              type="texte"
              class="inpat"
              placeholder="Put your name ..."
              name="name"
              ngModel
            />
            <label class="pass" for="location" >LOCATION</label>
            <input
              type="texte"
              class="inpat"
              placeholder="Put your Location ..."
              name="location"
              ngModel
            />
            <label class="pass" for="image">ADD YOUR IMAGE</label>
            <div >
              <h2 class="texto">Select your image</h2>
               <div >
              <img [src]="image" class="imaget" />
            </div> 
              <input type="file" id="img" (change)="onSelect($event)" />
            </div>
            
            <label class="passs">DESCRIPTION</label>
            <textarea name="description" ngModel></textarea>
            <input type="submit" class="log" value="Post Review"/>
          </form>
        </form>
      </div>
    </div>
    <app-review-list></app-review-list>
  </div>
