<body>
    <div >
        <h1 style="text-align: center" class="title-product"> Kids Products</h1>
    <section class="product">
        
        <div class="product-container">
         <div   class="product-card">
            <div class="product-image">
                <span class="discount-tag" > price%</span>
                <img src="" class="product-thumb">
                <button class="card-btn" routerLink="/payment" >add to whislist</button><br/>
            </div>
            <div class="product-info">
                <h2  class="product-brand"> title </h2>
                <p class="product-short-des">desc</p>
                <span  class="price">price TND</span><span class="actual-price"  > 10TND</span>
            </div>
        </div>
    </div>
    </section>
</div>
</body>
