*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======

   
>>>>>>> d134a56c12b5a31b3eabe974282ef6d618fe5dac
}
.title-product{
    color: orange;
    font-size: 70px;
    font-style: italic;
    margin-bottom: 2%;
}
.div-a{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(201, 201, 201, 0.75),rgba(0,0,0,0.75)),url(https://img.freepik.com/free-vector/paper-style-luxury-background_52683-64930.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.product{
<<<<<<< HEAD
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
=======
    
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

>>>>>>> d134a56c12b5a31b3eabe974282ef6d618fe5dac
 }
.product{
    position: relative;
    overflow: hidden;
    padding: 14px 97px;
}
.product-category{
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 0 10vw;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-container{
    padding: 9px 10vw;
    overflow-x: auto;
    scroll-behavior: smooth;
   
}
.product-container::-webkit-scrollbar{
    display: none;
}
.product-card{
    flex: 0 0 auto;
    width: 350px;
    height: 450px;
    margin-right: 40px;
    
}
.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius:16px
}
.discount-tag {
    position: absolute;
    background: #fff;
    padding: 11px;
    border-radius: 6px;
    color: #FF7D7D;
    font-size: 16px;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn{
    opacity: 1;
}
.card-btn:hover{
    background: #EFEFEF;
}
.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}
.product-brand{
    text-transform: uppercase;
    font-size: 35px;
}
.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.7;
    font-size: 25px;
    text-transform: capitalize;
    margin: 5px 0;
}
.price{
    font-weight: 900;
    font-size: 20px;
}
.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
        font-weight: 900;
    font-size: 20px;
    color :red;
}