.continer {
    width: 950px;
    height: 974px;
    margin: 90px auto;
    box-sizing: border-box;
    background-color: #e9e9f3;
    padding: 162px 22px;
    box-shadow: 0px 8px 16px grey;
  }
  .left-le {
    width: 50%;
    height: 650px;
    float: left;
    background: url("https://www.kindpng.com/picc/m/368-3685978_admin-icon-gray-hd-png-download.png");
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .image{
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  .right-re {
    width: 50%;
    height: 650px;
    float: left;
    background: #f7f7f7;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: -1 30px;
    text-align: center;
  }
  .nwme-ne {
    width: 82%;
    height: 53px;
    border: 1px solid #ccc;
    border-radius: 11px;
    margin-bottom: 16px;
    padding-left: 18px;
    font-size: x-large;
  }
  .btna {
    width: 130px;
    padding: 7px;
    background-color: #b64b20;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  .btna:hover {
    background-color: #181925;
  }
  .textoo-o {
    text-align: center;
    color: #fcbd39;
  }
  .files {
    color: white;
  }
  .imaget-t {
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    width: 2cm;
    height: 2cm;
  }
  /* border-radius: 50%; */