<div>
    <div>
      <div class="side-menu">
        <div class="brand-name">
          <h1>Admin Side-Bar</h1>
        </div>
        <div class="img-case">
          <img src="" alt="" class="imaget-t" />
        </div>
        <ul>
          <li>
            <img src="" alt="" />&nbsp;
            <span>Dashboard</span>
          </li>
          <li>
            <img src="" alt="" />&nbsp;
            <a
              href="#order"
            
              style="color: aliceblue"
              >Add Product</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="continer">
      <div class="left-le"></div>
      <div class="right-re">
        <h1 style="color: rgb(252 189 57)">Add Product</h1>
        <br />
        <div>
          <p>Title</p>
          <input type="text" #name name="title"   required (change)= "getTitle($event) " class="nwme-ne" placeholder="Product name..."/>
          <p>Price</p>
          <input type="text" name="desc"  class="nwme-ne" placeholder="Product Price..."/>
  <p>discount</p>
  
                      <input type="text" placeholder='discount'  class="nwme-ne"  /><br/>
  
          <p>Description</p>
  
          <textarea type="text" name="desc" class="nwme-ne" placeholder="Product description...">
          </textarea>
          <br />
          <p>Stock</p>
          <input class="nwme-ne" placeholder="stock..." type="number"/>
          <br/>
            <select  name="gender">
      <option value="none" selected>Gender</option>
      <option  value="male">Male</option>
      <option  value="female">Female</option>
      <option  value="kids">kids</option>
  </select>
          <button  class="btna">Add</button>
          <input name="image" type="file" required (change)="seletImage($event)"><br/>
          <img class="image" *ngIf="url" [src]="url" alt="image" />
        
        </div>
      </div>
    </div>
    </div>



   
