<div>
    <section class="productt" >
      <h2 class="product-category">fares</h2>
      <input
        class="search"
   
        type="text"
        placeholder="Search Product..."
      />
      <div class="product-container">
        <div   class="product-card">
          <div class="product-image">
            <span class="discount-tag" >
              10% off</span
            >
            <img src="post.image" class="product-thumb" />
            <button class="card-btn1" >Update</button
            ><br />
            <button class="card-btn2">Delete</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">10</h2>
            <p class="product-short-des">10</p>
            <span class="price">10 TND </span
            ><span class="actual-price">
              10 TND</span
            >
          </div>
        </div>
      </div>
    </section>
    <h1 style="text-align: center" class="update-h1">Update The Product</h1>
    <div class="omar">
      <p class="string">Title</p>
      <input
        type="text"
        name="title"
     
        class="nwme-me"
        placeholder="Product name..."
      />
      <p class="string">Price</p>
      <input
        type="text"
        name="desc"
       
        class="nwme-me"
        placeholder="Product Price..."
      />
      <p class="string">discount</p>
      <input
        type="text"
        placeholder="discount"
        class="nwme-me"
       
      /><br />
      <p class="string">Select Gender</p><br/>
      <select class="nwme-me"  name="gender" style="align-items: center">
        <option value="none" selected>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="kids">kids</option>
      </select>
      <p class="string">Description</p><br/>
      <textarea
        type="text"
        name="desc"
      
        class="nwme-me"
        placeholder="Product description...."
      >
      </textarea>
      <br />
      <div>
        <h2 class="textoo-o">Select a product image</h2>
        <input type="file"  class="files" />
      </div>
      <div >
        <img src="image" class="imaget-t" />
      </div>
      <br />
    </div>
  </div>



 
