<div class ="container">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">1</th>
            <td>{{ product.title }}</td>
            <td>{{ product.description}}</td>
            <td><img src="{{ product.image}}" alt="" width="100"></td>
            <td>{{ product.price}}</td>
            <td>{{ product.discount}}</td>
            <td>{{ product.gender}}</td>
            <td> <button (click)="deleteData(product.id)" class="btn btn-danger" >delete</button>  </td>
            <td> <button (click)="updateproduct(product.id)" class="btn btn-warning">edit</button>  </td>
          </tr>
        </tbody>
      </table>

      <div class="continer">
        <div class="left-le"></div>
        <div class="right-re">
            <h1 style="color: rgb(252 189 57)">Update Product</h1>
            <br />
            <div>
                <form enctype="multipart/form-data">
                    <label class="form-label">Title</label>
                    <input
                        type="text"
                      #title  name="title"
                        class="form-control"
                        placeholder="Product name..."
                        required (change)="getTitle($event)"
                        />

                    <p>Price</p>
                    <input
                    type="price"
                    #price  name="title"
                      class="form-control"
                      placeholder="price"
                      required (change)="getPrice($event)"
                    />
                    <p>discount</p>
                    <input
                    type="number"
                    #discount  name="discount"
                      class="form-control"
                      placeholder="discount"
                      required (change)="getDiscount($event)" />
              
                    <p>Description</p>
                    <textarea rows="4" cols="50" class="form-control"
                    type="text"
                    #description  name="description"
                      class="form-control"
                      placeholder="description..."
                      required (change)="getDescription($event)"
                    >
                    </textarea>
                    <p>stock</p>
                    <input
                    type="stock"
                    #stock  name="stock"
                      class="form-control"
                      placeholder="stock"
                      required (change)="getStock($event)"
                    />
                    <br />
                    <div>
                        <h2 class="textoo">Select your image</h2>
                      
                      <input name="image" type="file" required (change)="seletImage($event)"><br/>
                        <img class="image" *ngIf="url" [src]="url" alt="image" />
                      </div>
                    <div>
                    </div>
                    <br />
                    <select #gender name="gender"                       required (change)="getGender($event)"
                    class="form-select" aria-label="Default select example">
                        <option value="none" selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="kids">kids</option>
                    </select>
                </form>
            </div>
        </div>
   </div>
<!-- <pre>{{ products | json }}</pre> -->
</div>