<<<<<<< HEAD
footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #131313;
}
.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-content .logo{
       height: 170px;
}
.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.category{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}
.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
}
.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    font-size:16px;
    color: rgba(255, 255, 255, 0.75);
}
.footer-link:hover{
    color: rgb(255, 0, 0);
}
.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
    font-size:20px
}
.footer-title{
    margin-top: 80px;
    color: #fff;
}
.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
    font-size:20px;
}
.social-link:nth-child(1){
    margin-left: 0;
}
.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgb(16, 15, 15);
}
=======
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-style: oblique;
    font-size: 20px;
}
body{
    display:flex;
    justify-content: flex;
    align-items: center;
    min-height: -100vh;
    flex-direction: column;
    background: #ede7f6;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding:50px 100px;
    background: #111;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 40%;

}
footer .container  h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container  h2:before{
    content:'';
    position: absolute;
    bottom: -5px;
    left:0;
    width: 50px;
    height:2px;
    background: #f00;
}
 footer .container .sec.aboutus p {
    color:#999;
}
.sci{
     margin-top: 20px;
     display: flex;
}
.sci li {
    list-style: none;
}
.sci li a {
    display:inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration:none;
    border-radius: 4px;

} 
.sci li a:hover{
    background: #f00;
}
.sci li a .fab{
    color:#fff;
    font-size: 20px; 
}
.quickLinks{
    position:relative;
    width: 25%;
}
.quickLinks ul li{
   list-style: none;
}
.quickLinks ul li a {
    color:#999;
    text-decoration: none;
    margin-bottom: 10px;
    display:inline-block;
}
.quickLinks ul li a:hover{
    color:#fff;

}
.contact{
    width: calc(35% -60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;

}
.contact .info li a {
    color:#999;
    text-decoration: none;
}
.contact .info li a:hover{
    color:#fff;
}
.quickLink{
    margin-right: 500px;
    width:30px;
}

>>>>>>> c953bf23297535474f252e26015022dfba74fb2a
